edge/src/main/java/com/demir/edge/dataset/entity/dataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataset" type="datasetType"/>
  <xs:complexType name="emailsType">
    <xs:sequence>
      <xs:element name="email" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resourcesType">
    <xs:sequence>
      <xs:element name="url" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datasetType">
    <xs:sequence>
      <xs:element type="emailsType" name="emails"/>
      <xs:element type="resourcesType" name="resources"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>